* {
    border: none;
    border-radius: 0;
    font-family:
        Jetbrains Mono Nerd Font Propo,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 11px;

    /*These are zero otherwise they occupy too much space we can tweak them per style*/
    min-height: 0;
    margin: 0;
    padding: 0;
}
/*Main waybar background and stuff */
window#waybar {
    background: transparent;
    /* Removing border bottom for now   */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: white; 
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
}

/* Added so that the transition fades in and looks much better */
window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

/* WORKSPACES    */

#workspaces {
    border-radius: 16px 24px 24px 16px;
    margin: 2px 0;
    background-color: rgba(255, 255, 255, 0.08);
}

#workspaces button {
    padding: 0 8px;
    background-color: rgba(74, 74, 74, 0.6);
    border-radius: 20px;
    color: white;
    min-width: 2px;
    margin: 2px 0;
}

#workspaces button:not(:last-child) {
    margin-right: 2px;
}


/* Workspaces hover style */
#workspaces button:hover {
    background-color: #64727d;
    border: 1px solid black; 
    border-radius: 20px;
    transition: all 200ms cubic-bezier(0.000, 0.932, 0.681, 0.771) 0.2s;
}

/* focused workspace style */
#workspaces button.focused {
    background: #64727d;
    border-radius: 20px;
}

/* active workspace style */
#workspaces button.active {
    background: #64727d;
    border-radius: 20px;
    transition: padding  cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.4s;
    padding: 0 12px;
}


/* MPRIS */
/* Player conttrols on pause and play */
#mpris{
    background-color: #1e1e2e;
    color: #a6adc8;
    border-radius: 20px;
    padding: 0 14px;
    margin: 5px 5px;
    border: 1px solid #313244;
    font-family: "JetBrainsMono Nerd Font", sans-serif; 
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

/* When Audio is playing */
#mpris.playing {
    background-color: #a6e3a1; 
    color: #1e1e2e; 
    border: 1px solid #a6e3a1;
    box-shadow: 0 0 10px rgba(166, 227, 161, 0.4); 
}

#mpris.paused {
    background-color: #313244;
    color: #7f849c;
    font-style: italic;
}



/* global padding rules of all the modules and values  */
#mode,
#clock,
#battery,
#workspaces,
#pulseaudio,
#network{
    padding: 0px 2px;
    
    /* Added margin to make it look better  */
}

#mode {
    color: white;
}

#clock {
    background-color: black;
    border-radius: 45px;
    margin-top: 2px;
}

#battery {
    color: white;
}

#battery.charging {
    color: white;
    background-color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
