* {
    border: none;
    border-radius: 0;
    font-family: "GeistMono Nerd Font Propo", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 11px;
    font-weight: 700;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* Waybar Main Window  */
window#waybar {
    background: transparent;
    color: #ffd29c;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

window#waybar.hidden {
    opacity: 0.1;
}

/* When you hover over any module there is a tooltip  that pops up and shows the info related to that module */
tooltip {
    background: #282828;
    color: #ffd29c;
    border: 1px solid #ffd29c;
    border-radius: 10px;
}

tooltip label {
    color: #ffd29c;
}

#workspaces {
    border-radius: 16px 24px 24px 16px;
    margin: 2px 0;
    background-color: rgba(255, 255, 255, 0.08);
}

#workspaces button {
    padding: 0 8px;
    background-color: rgba(74, 74, 74, 0.6);
    border-radius: 20px;
    color: transparent;
    min-width: 2px;
    margin: 2px 0;
    border: none;
}

#workspaces button:not(:last-child) {
    margin-right: 2px;
}

#workspaces button:hover {
    background-color: #64727d;
    border-radius: 20px;
    transition: all 0.2s ease;
}

#workspaces button.focused {
    background: #64727d;
    border-radius: 20px;
}

#workspaces button.active {
    color: white;
    background: #458588;
    border-radius: 20px;
    transition: all 0.4s ease;
    padding: 0 12px;
}

#mpris {
    background-color: #1e1e2e;
    color: #a6adc8;
    border-radius: 20px;
    padding: 0 14px;
    margin: 5px 5px;
    border: 1px solid #313244;
    font-family: "GeistMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    transition: all 0.3s ease;
}

#mpris.playing {
    background-color: #1d2021;
    color: #a6e3a1;
    border: 1px solid #1d2021;
    font-family: "GeistMono Nerd Font Propo", sans-serif;
    font-size: 10px;
    font-weight: 600;
}

#mpris.paused {
    background-color: #313244;
    color: #7f849c;
    font-style: italic;
}

#mode,
#clock,
#battery,
#workspaces,
#pulseaudio {
    padding: 0px 2px;
}

#mode {
    color: white;
}

#clock {
    background-color: #1d2021;
    border-radius: 45px;
    margin-top: 2px;
}

#battery {
    color: white;
}

#battery.charging {
    color: white;
    background-color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background-color: #1d2021;
    color: #79740e;
    border-radius: 10px;
    padding: 0 10px;
    margin: 2px 2px;
    font-family: "GeistMono Nerd Font Propo", sans-serif;
}

#network.disconnected {
    background-color: #fb4934;
    color: #282828;
}

#network.ethernet {
    color: #b8bb26;
}

#network.wifi {
    color: #b8bb26;
}

#network:hover {
    background-color: #3c3836;
    color: #fabd2f;
}